@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


:root {
    --aft-base-ff: 'Roboto', Arial, Helvetica, sans-serif;
    --aft-blockquote__font-size: 14px;
    --aft-base__border-radius: 4px;
    --aft-menu__active__color: #da5b5b;
    --aft-menu__active__background-color: #eee;
    --aft-comment__intended__border-color: #ccc;
    --aft-comment__intended--highlighted__border-color: #999;
    --aft-comment--highlighted__background-color: #eee;
}

/* header */

.aft-header {
    height: 60px;
    background: url(https://aftershock.news/sites/default/files/styles/avatar-mini/public/pictures/picture-5-1487328749.png?itok=HcIaeN3H) 20px center no-repeat;
    background-size: 40px;
}

.aft-header:after {
    display: block;
    position: absolute;
    content: 'AfterShock';
    left: 70px;
    top: 50%;
    color: #304550;
    font-family: var(--aft-base-ff);
    font-size: 20px;
    font-weight: 900;
    text-transform: uppercase;
}

#block-system-main-menu .aft-blockheader h3 {
    display: none;
}

.aft-header_left,
.aft-header_right {
    display: none;
}

.desktop .aft-nav {
    right: 40px;
    width: auto;
}

/*layout*/
.aft-content-layout,
.aft-layout-cell
{
    display: block;
}

.aft-content-layout-row {
    display: grid;
    grid-template-columns: 220px minmax(auto, 1180px) 300px;
    grid-gap: 36px;
    justify-content: center;
}

@media (max-width: 1024px) {
    .aft-content-layout-row {
        grid-template-columns: 220px minmax(auto, 1180px);
        grid-gap: 20px;
    }
}

.aft-content-layout .aft-sidebar1 {
    margin: unset;
    overflow: visible;
    padding-left: 10px;
}

.aft-content-layout .aft-sidebar2 {
    width: unset;
    padding-right: 10px;
}
  


/* typography */

.aft-postcontent p {
    line-height: 1.3;
    letter-spacing: -0.01em;
    text-rendering: optimizelegibility;
    white-space: normal;
    hyphens: none;
    margin: 12px 0;
}

.aft-postcontent p:only-child {
    margin: 8px 0;
}

.aft-postcontent p:first-child {
    margin-top: 8px;
}


.aft-article h1 {
    font-size: 24px !important; 
}

.aft-article h2.aft-postheader a {
    font-size: 20px !important; 
}
  
@media (min-width: 1200px) {
    .aft-postcontent p  {
        margin: 20px 0;
        font-size: 16px;
    } 

    .aft-article h1 {
        font-size: 30px !important; 
    }

    .aft-article h2 {
        font-size: 22px !important; 
    }
}

#aft-main,
.aft-postcontent,
.aft-postcontent li,
.aft-postcontent table,
.aft-postcontent a,
.aft-postcontent a:link,
.aft-postcontent a:visited,
.aft-postcontent a.visited,
.aft-postcontent a:hover,
.aft-postcontent a.hovered,
.aft-article h1,
.aft-postheader,
.aft-postheader h1 .aft-postheader a,
.aft-postheader a:link,
.aft-postheader a:visited,
.aft-postheader a.visited,
.aft-postheader a:hover,
.aft-postheader a.hovered,
.aft-blockcontent a:visited,
.aft-blockcontent a.visited {
    font-family: var(--aft-base-ff);
}


/* buttons / tabs */

ul.arttabs_primary,
ul.arttabs_secondary,
.links,
img.service-link {
    margin: 10px 0 2px;
}

ul.arttabs_primary,
ul.arttabs_secondary {
    display: flex;
    flex-wrap: wrap;
}

ul.arttabs_primary li,
ul.arttabs_secondary li {
    margin-bottom: 8px;
}

.aft-button,
a.aft-button,
a.aft-button:link,
a:link.aft-button:link,
body a.aft-button:link,
a.aft-button:visited,
body a.aft-button:visited,
input.aft-button,
button.aft-button,
.aft-button.hover,
.aft-button:hover {
    display: inline-block;
    border-radius: var(--aft-base__border-radius);
    padding: 2px 8px;
}


/* pager */

.aft-pager>*,
.aft-pager .active,
.aft-pager .more,
.aft-pager a:hover {
    border: 0;
    min-width: 14px;
    text-align: center;
    padding: 5px;
    margin-right: 6px;
    background: #ccc;
}

.aft-pager .active,
.aft-pager a:hover {
    background: #9e9e9e;
}


/* post preview */

.field-name-field-teaser-image {
    text-align: center;
}

.node .field-name-field-teaser-image {
    margin-left: 30px;
}

.node .teaser-caption {
    text-align: left;
    padding: 2px;
}

.aft-post p img,
.field-item.odd img
.field-item.even img,
.field-name-field-teaser-image img {
    display:block;
    text-align: center;
    border-radius: var(--aft-base__border-radius);
    background-color: var(--aft-input__background-color);
}

.aft-post p img,
.field-item.odd img
.field-item.even img {
    margin: 12px auto !important;
}


.node-teaser .field-item img {
    max-height: 100px;
    object-fit: cover;
}

.publication-tags-item a:link,
.publication-tags-item a:visited {
    font-weight: 300;
}


/* post */

.aft-postcontent {
    padding-right: 14px;
}

blockquote {
    border: none;
    border-radius: var(--aft-base__border-radius);
    padding-right: 30px;
    max-width: 80%;
    margin-bottom: 4px;
    margin-top: 8px;
}

.aft-postcontent blockquote,
.aft-postcontent blockquote p {
    font-size: var(--aft-blockquote__font-size);
}

.opengraph-filter {
    border: 0;
}

.aft-article .video-filter {
    text-align: center;
    border-radius: var(--aft-base__border-radius);
}


/* ava */

.node .user-picture a > img,
.aft-comment-avatar a > img {
    padding: 0;
    border-radius: var(--aft-base__border-radius);
    border-width: 1px;
    border-style: solid;
    border-color: #999;
    background-color: var(--aft-input__background-color);
    min-height: 75px;
    min-width: 75px;
}

.aft-comment-avatar img:hover,
.node .user-picture img:hover {
    border-color: var(--aft-base__background-color);
}

ul.menu li a {
    display: block;
    padding: 3px 8px;
    border-radius: var(--aft-base__border-radius);
}

ul.menu li a.active {
    color: var(--aft-menu__active__color);
    background-color: var(--aft-menu__active__background-color);
}


/* about category */

.field-name-field-printing-description {
    border-radius: var(--aft-base__border-radius);
    border: none;
    padding: 10px;
    margin: 4px 5px;
    background: #d6eed6;
}

.aft-blockcontent table,
.aft-blockcontent li,
.aft-blockcontent a,
.aft-blockcontent a:link,
.aft-blockcontent a:hover,
.aft-blockcontent a:visited {
    font-size: var(--aft-blockquote__font-size);
}

.aft-blockcontent table,
.aft-blockcontent li,
.aft-blockcontent a,
.aft-blockcontent a:link,
.aft-blockcontent a:hover {
    color: #667075;
}

.region-sidebar-right .aft-blockcontent a:visited {
    color: #8f8787;
}

.region-sidebar-right .aft-postfootericons.aft-metadata-icons,
.region-sidebar-right .aft-blockcontent .aft-postfootericons.aft-metadata-icons a {
    font-size: 11px;
}

.region-sidebar-right .aft-postfootericons {
    text-align: right;
}


/* comments */

.indented,
.indented0,
.indented1,
.indented2,
.indented3 {
    border-color: var(--aft-comment__intended__border-color);
}

.aft-comment-header {
    margin-left: 86px;
    border-radius: 2px;
}

.aft-comment:hover+[class^=indented] {
    border-color: var(--aft-comment__intended--highlighted__border-color);
}

.aft-comment:hover+[class^=indented]>.aft-comment .aft-comment-header,
.aft-comment:hover+a#new+[class^=indented]>.aft-comment .aft-comment-header
/* new */

{
    background-color: #e9e9e9;
}


/* Переход по якорю к постоянной ссылке  */

a:target+.aft-comment {
    background-color: var(--aft-comment--highlighted__background-color);
}

a:target+.aft-comment+[class^=indented] {
    border-color: var(--aft-comment__intended--highlighted__border-color);
}


/* status message */

div.status,
div.error {
    border: none;
    border-radius: 4px;
}


/* author, editor comment */
.field-name-field-author-comment .field-item {
    margin: 0 10px;
}
